In [5]:
import pandas as pd
movie_info = pd.read_csv("Datasets/Movie Interests.csv")
movie_info

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [10]:
input_dataset = movie_info.drop(columns = ['Interest'])
input_dataset

    Age  Gender
0     8       1
1    11       1
2    12       1
3    16       1
4    18       1
5    19       1
6    23       1
7    26       1
8    27       1
9     7       0
10    9       0
11   10       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
output_datset = movie_info['Interest']
output_datset

0     Animation
1     Animation
2     Animation
3        Action
4        Action
5        Action
6         Drama
7         Drama
8         Drama
9     Animation
10    Animation
11    Animation
12       Action
13       Action
14       Action
15        Drama
16        Drama
17        Drama
Name: Interest, dtype: object

In [20]:
from sklearn.tree import DecisionTreeClassifier
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset,output_datset)
movie_interest = movie_model.predict([[9,1],[33,0]])
movie_interest

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Drama'], dtype=object)

In [63]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
input_dataset_train,input_dataset_test,output_dataset_train,output_dataset_test = train_test_split(input_dataset,output_datset,test_size = 0.2)
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset_train,output_dataset_train)
movie_interest = movie_model.predict(input_dataset_test)
accuracy_info = accuracy_score(output_dataset_test,movie_interest)
accuracy_info

0.3076923076923077

In [65]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
movie_info = pd.read_csv("Datasets/Movie Interests.csv")
input_dataset = movie_info.drop(columns = ['Interest'])
output_dataset = movie_info['Interest']
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset,output_dataset)
movie_interest = movie_model.predict([[9,1],[33,0]])
movie_interest

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Drama'], dtype=object)

In [67]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
movie_info = pd.read_csv("Datasets/Movie Interests.csv")
input_dataset = movie_info.drop(columns = ['Interest'])
output_dataset = movie_info['Interest']
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset,output_dataset)
joblib.dump(movie_model,'movie-interest-identifier')

#movie_interest = movie_model.predict([[9,1],[33,0]])
#movie_interest

['movie-interest-identifier']

In [2]:
import joblib
model_movie_interest = joblib.load('movie-interest-identifier')
movie_interest = model_movie_interest.predict([[9,1],[33,0]])
movie_interest

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Drama'], dtype=object)